/* ------ Setting Colors ------ */
$blue: #8ec6f9;
$orange: #ffce10;

$white   : #fff;
$grey    : #B0B0B0;
$dark-grey: #414141;
$black   : #252525;

$success : #00ff04;
$warning : #e6ca23;
$error   : #ff605d;

// Main Colors
$color-primary   : $blue;
$color-secondary : $orange;
