.video-preview-container{
  padding: 10px;
  margin: 20px 0;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.2s linear;
  &.active,&:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    outline: solid 1px $color-primary;
  }
  canvas{
    @extend .box-blue !optional;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  }
  .video-info{
    width: 100%;
    margin: 20px 40px;
  }
}

.profile-search-time{
  font-size: $font-size-x-large;
  line-height: 1;
}
.profile-preview{
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.file-upload-input{
  @extend input[type="text"];
}

.nouislider{
  margin: 20px;
  background-color: rgba(0,0,0,0.2) !important;
  border: solid 1px $color-primary !important;
  border-radius: 0 !important;
  box-shadow: none important;
  .noUi-target {
    background-color: rgba(0,0,0,0.2);
    border-radius: 0;
    border: solid 1px $color-primary;
  }
  .noUi-handle {
    border: solid 1px $color-primary;
    border-radius: 0;
    background-color: $color-primary;
    box-shadow: none;
    cursor: pointer;
  }
  .noUi-connect {
    background-color: rgba($color-primary, 0.5);
  }
}

//React Modal Overrides
.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.6) !important;
}
.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border: solid 1px $color-primary !important;
  background-color: rgba(86, 112, 136, 0.9) !important
}
