//React Modal Overrides
.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.6) !important;
}
.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border: solid 1px $color-primary !important;
  background-color: rgba(86, 112, 136, 0.9) !important
}
