.countdown-container {
  @include sm {
    height: 400px;
  }
  @include md {
    height: 70vh;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script";
  background-color: rgba(255, 255, 255, 0.9);
  .save-the-date {
    font-family: "Dancing Script";
    color: black;
  }
  .wedding-date {
    font-family: "Great Vibes";
    color: black;
  }
}
.countdown {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  .unit {
    display: flex;
    align-items: center;
    height: 90px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px;
    padding: 10px 30px;
    @include md {
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
    .unit-label {
      font-size: 24px;
      @include sm {
        font-size: 12px;
      }
    }
  }
}
