.home-header-bar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  background-color: rgba(255, 248, 249, 0.9);
  z-index: 10;
  a {
    color: black;
    font-size: 24px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .heart-separator {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
}
