.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  @include sm {
    height: 100vh;
  }
}
.home-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("/public/images/flowers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // filter: blur(3px);
  // -webkit-filter: blur(3px);
  z-index: -1;
}

.image-container {
  @include sm {
    width: 670px;
    margin: 0;
  }
  width: 90%;
  margin-top: 50%;
  margin-bottom: 50%;
  transform: rotate(5deg);
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
}
.image-content {
  @include sm {
    padding: 40px 150px 20px 150px;
  }
  background-color: rgba(255, 230, 233, 0.7);
  border-radius: 5px;
  z-index: -1;
  transform: rotate(-5deg);
  padding: 10px;
  .home-page-logo {
    width: 200px;
  }
}

.introduction {
  font-size: 24px;
  font-family: "Rouge Script", cursive;
  text-align: center;
  p {
    font-size: 24px;
  }
  .names-container {
    display: flex;
    justify-content: center;
    .names {
      color: black;
      font-weight: 100;
      font-size: 36px;
      font-family: "Alex Brush", cursive;
    }
  }
}
