.video-container,
.video-information-container{
  @extend .box-blue !optional;
  margin-top: 40px;
  padding: 20px;
}
.video-information-container{
  position: sticky;
  top: 40px;
  height: calc(100vh - 80px);
}

