.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex {
  display: flex;
  @include md {
    flex-direction: column;
  }
  .flex-1 {
    flex: 1;
    margin: 10px;
  }
}
.homepage-section {
  position: relative;
  width: 100%;
}
.home-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(255, 238, 238)),
    url(/public/images/bouquet.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: -1;
}
.border-top {
  width: 130%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: -15%;
  background: white;
  z-index: 1;
  box-shadow: 1px 2px 60px 60px rgba(255, 255, 255, 1);
}

.image-container {
  @include md {
    margin: 40px 10px;
    transform: rotate(7deg) translate(10px, 40px);
  }
  margin-top: 50%;
  margin-bottom: 50%;
  transform: rotate(6deg) translate(100px, 0px);
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.image-content {
  @include md {
    padding: 40px 20px;
    transform: rotate(-7deg);
  }
  padding: 10px;
  border-radius: 3px;
  transform: rotate(-4deg);
  z-index: -1;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(254, 248, 249);
  .home-page-logo {
    width: 150px;
    opacity: 0.8;
  }
}

.envelope-container {
  @include sm {
    margin: 0;
  }
  transform: rotate(2deg);
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.envelope-content {
  @include sm {
    padding: 40px 20px;
  }
  padding: 10px;
  border-radius: 3px;
  transform: rotate(-2deg);
  z-index: -1;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.boxes-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @include md {
    flex-direction: column;
  }
  .box {
    position: relative;
    padding: 20px 40px;
    flex: 1;
    background-color: white;
    border: solid 1px gray;
    margin: 10px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}

.introduction {
  position: relative;
  font-size: 18px;
  font-family: "Zilla Slab", cursive;
  text-align: center;
  .introduction-image {
    position: absolute;
    background-image: url(/public/images/shawnandseungmin.jpg);
    width: 300px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border: solid 5px white;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);
    bottom: -70px;
    left: -140px;
    transform: rotate(-6deg);
    @include md {
      width: 140px;
      bottom: -30px;
      left: 170px;
      height: 180px;
      top: auto;
      z-index: 1;
      transform: rotate(11deg);
    }
  }
  .name-heart-separator {
    margin: 20px;
    font-size: 12px;
    line-height: 28px;
    @include sm {
      margin: 0;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  p {
    font-size: 22px;
    max-width: 370px;
    margin: 30px auto;
    @include sm {
      margin: 0;
      font-size: 18px;
    }
  }
  .names-container {
    display: flex;
    justify-content: center;
    margin: 0 60px;
    @include md {
      flex-direction: column;
      margin: 0 10px;
    }
    .names {
      color: black;
      font-weight: 100;
      font-size: 28px;
      font-family: "Great Vibes", cursive;
    }
  }
  .respectfully-container {
    text-align: center;
    @include md {
      text-align: left;
    }
    .respectfully {
      margin: 0 auto;
      font-family: "Dancing Script", cursive;
      @include md {
        margin: 20px 0px -10px 20px;
      }
    }
  }
}
