@import "_fonts";
@import "_var-color";
@import "_var-typography";
@import "_helper";

html {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-x: hidden;
  ::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}
body {
  background-color: $white;
  color: $black;
}

hr {
  border-color: rgba($color-primary, 0.5);
}

button,
.button {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 25px;
  color: $color-primary;
  background-color: rgba(0, 0, 0, 0.24);
  border: 1px solid $color-primary;
  transition: all 0.05s ease-in-out;
  font-size: 12px;
  text-align: center;
  &:hover:not([disabled]) {
    cursor: pointer;
    color: #fff;
    background-color: #8ec6f9;
    text-decoration: none;
  }
  i {
    margin-right: 1em;
  }
  + button {
    margin-left: 10px;
  }
  &.btn-danger {
    border: 1px solid $error;
    background-color: rgba(0, 0, 0, 0.24);
    color: lighten($error, 20);
  }
  &[disabled] {
    border: solid 1px transparent;
  }
}

label {
  color: lighten($grey, 10);
  &.label-above {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

input[type="text"],
input[type="datetime-local"],
input[type="password"],
textarea {
  @extend .box-blue;
  width: 100%;
  color: $color-primary;
  padding: 5px 15px;
  font-family: $font-family-body;
  &::placeholder {
    font-family: $font-family-body;
    color: rgba($color-primary, 0.5);
  }
  outline: none;
  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 4px 0 $color-primary;
  }
  &[disabled] {
    background-color: $grey;
  }
}
.box-blue {
  border: solid 1px $color-primary;
  background-color: rgba($color-primary, 0.3);
}

.bottom-bar {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.progress {
  background-color: rgba($grey, 0.2);
  border-radius: 0;
  outline: solid 1px $color-primary;
  .progress-bar {
    background-color: $color-primary;
  }
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(142, 198, 249, 0.1);
  box-shadow: inset 0 0 4px rgba(142, 198, 249, 0.3);
}
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    left,
    rgba(142, 198, 249, 0.35),
    rgba(142, 198, 249, 0.4)
  );
  background: -o-linear-gradient(
    left,
    rgba(142, 198, 249, 0.35),
    rgba(142, 198, 249, 0.4)
  );
  background: linear-gradient(
    to right,
    rgba(142, 198, 249, 0.35),
    rgba(142, 198, 249, 0.4)
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(
    left,
    rgba(142, 198, 249, 0.6),
    rgba(142, 198, 249, 0.7)
  );
  background: -o-linear-gradient(
    left,
    rgba(142, 198, 249, 0.6),
    rgba(142, 198, 249, 0.7)
  );
  background: linear-gradient(
    to right,
    rgba(142, 198, 249, 0.6),
    rgba(142, 198, 249, 0.7)
  );
}

@import "Components";
@import "Home";
